<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
   
    <div class="container ">
        <main>
        
          <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
              {{form.as_p}}
            </div>
            <div class="col-md-20 col-lg-5 ">
              
              <h3 class="mb-3 pt-3 pb-2 text-center">
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Formulário</font></font>
              </h3>
              
              <form class="needs-validation" novalidate="">
                <div class="row g-3">
                  <div class="col-sm-6 ">
                    <label for="firstName" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Primeiro nome</font></font></label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
      
                  <div class="col-sm-6">
                    <label for="lastName" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobrenome</font></font></label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="username" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nome de usuário</font></font></label>
                    <input type="text" class="form-control" id="username" placeholder="Nome de usuário" required="">
                    
                    <div class="input-group has-validation">
                      <span class="input-group-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@</font></font></span> 
                    <div class="invalid-feedback">
                        Your username is required.
                      </div>
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="email" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E- mail </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(opcional)</font></font></span></label>
                    <input type="email" class="form-control" id="email" placeholder="você@exemplo.com">
                    <div class="invalid-feedback">
                      Please enter a valid email address for shipping updates.
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="address" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Endereço</font></font></label>
                    <input type="text" class="form-control" id="address" placeholder="Rua Principal 1234" required="">
                    <div class="invalid-feedback">
                      Please enter your shipping address.
                    </div>
                  </div>
      
                  
      
                  <div class="col-md-5">
                    <label for="country" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">País</font></font></label>
                    <select class="form-select" id="country" required="">
                      <option value=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Escolher...</font></font></option>
                      <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estados Unidos</font></font></option>
                      <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Brasil</font></font></option>
                      <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Alemanha</font></font></option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                  </div>
      
                  <div class="col-md-4">
                    <label for="state" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estado</font></font></label>
                    <select class="form-select" id="state" required="">
                      <option value=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Escolher...</font></font></option>
                      <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Califórnia</font></font></option>
                    </select>
                    <div class="invalid-feedback">
                      Please provide a valid state.
                    </div>
                  </div>
      
                  <div class="col-md-3">
                    <label for="zip" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"
                        >Fecho eclair</font></font></label>
                    <input type="text" class="form-control" id="zip" placeholder="" required="">
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                </div>
      
                <hr class="my-4">
                <h4 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Caixa de Seleção</font></font></h4>
                
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="same-address">
                  <label class="form-check-label" for="same-address"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"
                    >opção 1</font></font></label>
                </div>
      
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="save-info">
                    <label class="form-check-label" for="save-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"
                        >opção 2</font></font></label>
                </div>
      
                <hr class="my-4">
                <h4 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">seleção unica</font></font></h4>
      
                <div class="my-3">
                  <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                    <label class="form-check-label" for="credit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cartão de crédito</font></font></label>
                  </div>
                  <div class="form-check">
                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                    <label class="form-check-label" for="debit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cartão de débito</font></font></label>
                  </div>
                  <div class="form-check">
                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                    <label class="form-check-label" for="paypal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PayPal</font></font></label>
                  </div>
                </div>
                
                <hr class="my-4">

                <div class="row gy-3">
                  <div class="col-md-6">
                    <label for="cc-name" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"
                        >Nome no cartão</font></font></label>
                    <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                    <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"
                        >Nome completo conforme exibido no cartão</font></font></small>
                    
                    <div class="invalid-feedback">
                      Name on card is required
                    </div>
                  </div>
      
                  <div class="col-md-6">
                    <label for="cc-number" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Número do cartão de crédito</font></font></label>
                    <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                    <div class="invalid-feedback">
                      Credit card number is required
                    </div>
                  </div>
      
                  <div class="col-md-3">
                    <label for="cc-expiration" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Expiração</font></font></label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                    <div class="invalid-feedback">
                      Expiration date required
                    </div>
                  </div>
      
                  <div class="col-md-3">
                    <label for="cc-cvv" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CVV</font></font></label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                    <div class="invalid-feedback">
                      Security code required
                    </div>
                  </div>
                </div>
      
                <hr class="my-4">
      
                <button class="w-100 btn btn-primary btn-lg" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Finalizar Formulario</font></font></button>
              </form>
            </div>
          </div>
        </main>
</body>
</html>