<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar formulario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
    
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <h1>Iniciar formulario</h1>
        
        {% if bd %}<!--se entrar no forms pelo edit volta para a tabela-->
            <a href="/lista" class="btn btn-info">voltar</a>
        {%else%}<!--se iniciar um novo forms voltar para tela inicial-->
            <a href="/" class="btn btn-info">voltar</a>
        {%endif%}
    </div>
    
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <form name="form" id="form" action="{% if bd %}/update/{{bd.id}}/{% else %}/create/{% endif %}" method="post">
            {% csrf_token %}
            
            <div class="form-group mt-4"> Primeiro Nome:{{form.primeiro_nome}} </div>
            <div class="form-group mt-4"> Segundo Nome:{{form.segundo_nome}} </div>
            <div class="form-group mt-4"> Usuario:{{form.usuario}} </div>
            <div class="form-group mt-4"> endereco:{{form.endereco}} </div>
                
            <input type="submit" class="btn btn-success" value="Salvar">
        </form>
    </div>
    
    
    
</body>
</html>